<form class="form-horizontal" role="form">
    <% deployments.each(function(deployment, index) { %>
        <div <%= (el) -> el.data( 'model', deployment ) %> class="input-group deployment">
            <input class="form-control" disabled="disabled" type="text" value="<%= deployment.getUrl('upgrade') %>" />
            <span class="input-group-btn">
                <button class="btn btn-primary"><%= deployment.deploymentName %></button>
            </span>
        </div>
    <% }) %>
</form>
