<div class="list-group">
    <% urls.each(function(url) { %>
        <a <%= (el) -> el.data( 'model', url ) %> href="#" class="list-group-item<% if (url.attr('active')) { %> active<%} %>">
            <%= url.attr('link') %>
            <span class="close">&times;</span>
        </a>
    <% }) %>
</div>

<div class="input-group add">
    <input type="text" class="form-control" />
    <span class="input-group-btn">
        <button class="btn btn-primary">Add</button>
    </span>
</div>