<div class="active">
    <div class="input-group">
        <input type="text" class="form-control" disabled="disabled">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Choose another <span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
                <li><a href="#">Action</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="add-urls"></div>