body {
    height: 400px;
    width: 700px;
}

body > div {
    position: relative;
    min-height: 300px;
}

.nav-tabs {
    text-transform: capitalize;
}

.pane-container {
    position:absolute;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

.pane-container > li {
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.pane-container > li.in {
    z-index: 2;
}

li.deployment span.control-label {
    padding-top: 3px;
}

li.deployment input.form-control {
    font-size: 10px;
}

li.deployment div.options button.btn-success .glyphicon-ok-circle {
    display: none;
}

li.deployment div.options button.btn-warning .glyphicon-ok-sign {
    display: none;
}