<ul class="nav nav-tabs">
    <% for (var i = 0, len = tabs.length; i < len; i++) { %>
        <li data-pane="<% tabs[i].name %>" class="<% tabs[i].name %><% if (tabs[i].active) { %> active<% } %>"><a href="#"><%= tabs[i].name %></a></li>
    <% } %>
</ul>

<ul class="pane-container">

</ul>